.wrapper {
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .25);
}

.backdrop {
  width: 50%;
  height: 100%;
}

.container {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
  margin: 25px 0;
}

.menu a {
  font-size: 14px;
  font-weight: 400;
  color: var(--blue-light-color);
  text-decoration: none;
  font-family: var(--space-mono-font);
}

.menu a span {
  color: var(--green-color);
}

.menu a:hover {
  transition: all ease .2s;
  color: var(--green-color);
  cursor: pointer;
}

.social {
  display: flex;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.social li {
  margin: 0 10px;
}

.social li a {
  display: block;
  height: 26px;
  width: 20px;
  font-size: 26px;
  color: var(--blue-light-color);
  transition: all ease .2s;
}

.social li a:hover {
  opacity: .6;
}

@media (max-width: 425px) {
  .container {
    width: 75%;
  }
}