.container div:last-of-type {
  margin: 0;
}

.container div:nth-child(2n) {
  flex-direction: row-reverse;
}

.container div:nth-child(2n) p {
  margin-left: -30px;
  margin-right: 0;
}

@media (max-width: 960px) {
  .container div:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .container div:nth-child(2n) p {
    margin-left: 0;
  }
}